/* This is for backticked inline code e.g.: `Highlighted sentence` 
 * for all elements without any style class that are not styled by e.g.: Chroma
 * https://stackoverflow.com/a/36355674
 * */
code:not([class]) {
    border: 1px solid #D9E7E9;
    background-color: #F3FAFA;
    color: #AA4B5E;
    padding: 2pt;
}

a.octicon-link {
    visibility: hidden;
}
h1:hover > a.octicon-link {
    visibility: visible;
}
h2:hover > a.octicon-link {
    visibility: visible;
}
h3:hover > a.octicon-link {
    visibility: visible;
}


/* Custom Summary Detail Marker */
details:not([open])>:not(summary) {
    display: none
}

details>summary:before {
    content: "\25BC";
    display: inline-block;
    margin-right: .65em;
    transition: .3s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

details[open]>summary:before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

