{{ if .trailer }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="{{ .trailer }}" alt="Watch '{{ .title }}' trailer on youtube" title="Watch '{{ .title }}' trailer on youtube"><img src="/img/favicon_youtube.png" style="width:28px;height:28px"/></a>
{{ end }}
{{ if .tmdb }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="https://www.themoviedb.org/movie/{{ .tmdb }}" alt="Find out more about '{{ .title }}' on TMDB" title="Find out more about '{{ .title }}' on TMDB"><img src="/img/favicon_tmdb_blue_square_1.svg" style="width:28px;height:28px"/></a>
{{ end }}
{{ if .imdb }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="{{ .imdb }}" alt="Find out more about '{{ .title }}' on iMDB" title="Find out more about '{{ .title }}' on iMDB"><img src="/img/favicon_imdb.png" style="width:28px;height:28px"/></a>
{{ end }}
{{ if .rt }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="{{ .rt }}" alt="Find out more about '{{ .title }}' on Rotten Tomatoes" title="Find out more about '{{ .title }}' on Rotten Tomatoes"><img src="/img/favicon_rotten_tomatoes.png" style="width:28px;height:28px"/></a>
{{ end }}
{{ if .wiki }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="{{ .wiki }}" alt="Find out more about '{{ .title }}' on Wikipedia" title="Find out more about '{{ .title }}' on Wikipedia"><img src="/img/favicon_wiki.png" style="width:28px;height:28px"/></a>
{{ end }}
{{ if .netflix }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="{{ .netflix }}" alt="Watch '{{ .title }}' on Netflix" title="Watch '{{ .title }}' on Netflix"><img src="/img/favicon_netflix.png" style="width:28px;height:28px"/></a>
{{ end }}
{{ if .justwatch }}
<a tabindex="0" target="_blank" rel="external" referrerpolicy="no-referrer" href="{{ .justwatch }}" alt="Check on justwatch.com where you can watch '{{ .title }}'" title="Check on justwatch.com where you can watch '{{ .title }}'"><img src="/img/favicon_justwatch.png" style="width:28px;height:28px"/></a>
{{ end }}
