{{- $scriptSrc := "https://utteranc.es/client.js" -}}

{{- $issueTerm := .Page.Site.Params.comments.utterances.issueTerm -}}
{{- $username := .Page.Site.Params.comments.utterances.github.username -}}
{{- $repository := .Page.Site.Params.comments.utterances.github.repository -}}
{{- $theme := .Page.Site.Params.comments.utterances.theme -}}

<script src='{{ $scriptSrc }}'
  repo='{{ print $username "/" $repository }}'
  issue-term='{{ $issueTerm }}'
  theme='{{ $theme }}'
  crossorigin='anonymous'
  async>
</script>
