{{ $.Scratch.Set "completed_by_year" dict }}
{{ $completed_books := slice }}
{{ range $.Site.Data.books }}
    {{ $completed_in_category := ( where .books "completed" "!=" "" ) }}
    {{ range $completed_in_category }}
        {{ $completion_year := index (split .completed "-" | first 1) 0 }}
        {{ $counter_keys := slice }}
        {{ range $key, $_ := $.Scratch.Get "completed_by_year" }}{{ $counter_keys = $counter_keys | append $key }}{{ end }}
        {{ if in $counter_keys $completion_year }}
            {{ $counter := index ($.Scratch.Get "completed_by_year") $completion_year }}
            {{ $counter = add $counter 1 }}
            {{ $.Scratch.SetInMap "completed_by_year" $completion_year $counter }}
        {{ else }}
            {{ $.Scratch.SetInMap "completed_by_year" $completion_year 1 }}
        {{ end }}
    {{ end }}
    {{ $completed_books = $completed_books | append $completed_in_category }}
{{ end }}

<div id="book_stats">
{{ partial "svg/octicons/graph.svg" }} Completed per year:
<ul>
{{ range $year, $counter := $.Scratch.Get "completed_by_year" }}
    <li> {{ $year }}: {{ $counter }}</li>
{{ end }}
</ul>
Total number of completed books: {{ len $completed_books }}
</div>
