{{ $category := (.Get "category") }}
{{ with $category }}
<table aria-label="Interesting {{ $category }} movies" style="font-size:80%;width:100%">
  <tbody>
{{ range $.Site.Data.movies }}
    {{ if eq $category .category }}
        {{ range sort .movies "title" "asc" }}
            {{ if .title }}
    <tr tabindex="0">
    <article id="movie-{{ .title | anchorize }}">
      <details id="details-{{ .title | anchorize }}">
        <summary id="{{ .title | anchorize }}"><b>{{ .title }}</b>, by {{ .director }}{{ if .original_title }} (orig. {{ .original_title }}){{ end }}, {{ .year }} <a class="octicon-link" href="#{{ .title | anchorize }}">{{ partial "svg/octicons/link.svg" }}</a></summary>
        <ul>
        {{ if .genres }}
        <li title="Genres" aria-label="Genres" style="list-style-image: url('/img/octicons/pencil.svg'); margin-left: 0.5rem">{{ delimit .genres ", " }}</li>
        {{ end }}
        {{ if .production_countries }}
        <li title="Production countries" aria-label="Production countries" style="list-style-image: url('/img/octicons/globe.svg'); margin-left: 0.5rem">{{ $len_countries := (len .production_countries) }}{{ range $idx, $country := .production_countries }} {{ $country.name }}{{ if ne $idx (sub $len_countries 1) }},{{ else }}{{ end }}{{ end }}</li>
        {{ end }}
        {{ if .watched }}
        <li title="Seen on" aria-label="Seen on" style="list-style-image: url('/img/octicons/device-camera-video.svg'); margin-left: 0.5rem">{{ .watched }}</li>
        {{ end }}
        <li title="Links" aria-label="Links" style="list-style-image: url('/img/octicons/link-external.svg'); margin-left: 0.4rem">{{ partial "movie_links.html" . }}</li>
        {{ if .comments }}
        <li title="Comments" aria-label="Comments" style="list-style-image: url('/img/octicons/note.svg'); margin-left: 0.5rem" id="comments-{{ .title | anchorize }}">Comments: {{ .comments | markdownify }}</li>
        {{ end }}
        {{ if .quotes }}
        <li title="Quotes" aria-label="Quoutes" style="list-style-image: url('/img/octicons/quote.svg'); margin-left: 0.5rem" id="quotes-{{ .title | anchorize }}">Quotes:
          <ul>
              {{ range $quote := .quotes }}
              <li>{{ $quote | markdownify }}</li>
              {{ end }}
          </ul>
        </li>
        {{ end }}
        </ul>
      </details>
    </article>
    </tr>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
  </tbody>
</table>
{{ end }}
