{{ $category := (.Get "category") }}
{{ with $category }}

<table aria-label="Interesting {{ $category }} movies" style="font-size:80%;width:1024px">
  <colgroup>
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 17%;">
    <col span="1" style="width: 23%;">
  </colgroup>
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Genres</th>
      <th>Year</th>
      <th>Links</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
{{ range $.Site.Data.movies }}
    {{ if eq $category .category }}
        {{ range .movies }}
            {{ if .title }}
    <tr tabindex="0">
      <td>{{ .title }}{{ if .original_title }} ({{ .original_title }}){{ end }}</td>
      <td>{{ .director }}</td>
      <td>{{ .genres }}</td>
      <td>{{ .year }}</td>
      <td>{{ partial "movie_links.html" .}}</td>
      <td>{{ with .comments }}{{ . | markdownify }}{{ end }}<td>
    </tr>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
  </tbody>
</table>
{{ end }}
